.recipe {
    border-radius: 5px;
    box-shadow: 0px 5px 10px #fff;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    align-items: center;
    min-width: 40%;
}